/*==================================== RESET STYLES ====================================*/
/*==================================== RESET STYLES ====================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*==================================== VARS ====================================*/
/*==================================== VARS ====================================*/
/*==================================== MIXINS ====================================*/
/*==================================== MIXINS ====================================*/
/*==================================== FONTS ====================================*/
/*==================================== FONTS ====================================*/
html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
}

.heading {
  text-align: center;
  font-weight: 900;
}

.subtitle {
  font-weight: 700;
  text-align: center;
}

/*==================================== Section 1 ====================================*/
.section1 {
  padding-top: clamp(1px, 8vh, 87px);
  padding-bottom: clamp(1px, 3vh, 33px);
  height: 100vh;
  background: radial-gradient(#fff, #a8a8a8);
}
.section1__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section1__heading {
  font-size: clamp(26px, 3.5vh, 60px);
  margin-bottom: clamp(1px, 5vh, 50px);
}
.section1__subtitle {
  font-size: clamp(20px, 2.4vh, 30px);
  font-size: 2.4vh;
  margin-bottom: clamp(1px, 5vh, 50px);
}
.section1__text {
  font-size: clamp(10px, 2vh, 22px);
  text-align: justify;
  margin-bottom: clamp(1px, 5vh, 50px);
  line-height: 2.5vh;
}
.section1__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: clamp(1px, 5vh, 50px);
}
.section1__img {
  width: 30vh;
}
.section1__img:not(:last-child) {
  margin-right: 2vh;
}
.section1__img img {
  width: 100%;
}

/*==================================== SECTION2 ====================================*/
.section2 {
  padding-top: clamp(1px, 8lvh, 87px);
  padding-bottom: clamp(1px, 3lvh, 33px);
  height: 100lvh;
  background: radial-gradient(#fff, #a782aa);
}
.section2__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section2__heading {
  font-size: clamp(26px, 3.5lvh, 60px);
  margin-bottom: clamp(1px, 5lvh, 50px);
}
.section2__subtitle {
  font-size: clamp(20px, 2.4lvh, 30px);
  font-size: 2.4lvh;
  margin-bottom: clamp(1px, 5lvh, 50px);
}
.section2__text {
  font-size: clamp(10px, 2lvh, 22px);
  text-align: justify;
  margin-bottom: clamp(1px, 5lvh, 50px);
  line-height: 2.5lvh;
}
.section2__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: clamp(1px, 5lvh, 50px);
}
.section2__img {
  width: 30lvh;
}
.section2__img:not(:last-child) {
  margin-right: 2lvh;
}
.section2__img img {
  width: 100%;
}

/*==================================== SECTION3 ====================================*/
.section3 {
  padding-top: clamp(1px, 8dvh, 87px);
  padding-bottom: clamp(1px, 3dvh, 33px);
  height: 100dvh;
  background: radial-gradient(#fff, #d29f69);
}
.section3__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section3__heading {
  font-size: clamp(26px, 3.5dvh, 60px);
  margin-bottom: clamp(1px, 5dvh, 50px);
}
.section3__subtitle {
  font-size: clamp(20px, 2.4dvh, 30px);
  font-size: 2.4dvh;
  margin-bottom: clamp(1px, 5dvh, 50px);
}
.section3__text {
  font-size: clamp(10px, 2dvh, 22px);
  text-align: justify;
  margin-bottom: clamp(1px, 5dvh, 50px);
  line-height: 2.5dvh;
}
.section3__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: clamp(1px, 5dvh, 50px);
}
.section3__img {
  width: 30dvh;
}
.section3__img:not(:last-child) {
  margin-right: 2dvh;
}
.section3__img img {
  width: 100%;
}

/*==================================== SECTION4 ====================================*/
.section4 {
  padding-top: clamp(1px, 8svh, 87px);
  padding-bottom: clamp(1px, 3svh, 33px);
  height: 100svh;
  background: radial-gradient(#fff, #97e38d);
}
.section4__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section4__heading {
  font-size: clamp(26px, 3.5svh, 60px);
  margin-bottom: clamp(1px, 5svh, 50px);
}
.section4__subtitle {
  font-size: clamp(20px, 2.4svh, 30px);
  font-size: 2.4svh;
  margin-bottom: clamp(1px, 5svh, 50px);
}
.section4__text {
  font-size: clamp(10px, 2svh, 22px);
  text-align: justify;
  margin-bottom: clamp(1px, 5svh, 50px);
  line-height: 2.5svh;
}
.section4__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: clamp(1px, 5svh, 50px);
}
.section4__img {
  width: 30svh;
}
.section4__img:not(:last-child) {
  margin-right: 2svh;
}
.section4__img img {
  width: 100%;
}

/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/
/*==================================== MEDIA ====================================*/
/*------------------------------ 1024 ------------------------------*/
@media (max-width: 1024px) {
  .section1__heading {
    font-size: 3vh;
  }
  .section1__subtitle {
    font-size: 2vh;
  }
  .section1__text {
    font-size: 1.5vh;
  }
  .section2__heading {
    font-size: 3lvh;
  }
  .section2__subtitle {
    font-size: 2lvh;
  }
  .section2__text {
    font-size: 1.5lvh;
  }
  .section3__heading {
    font-size: 3dvh;
  }
  .section3__subtitle {
    font-size: 2dvh;
  }
  .section3__text {
    font-size: 1.5dvh;
  }
  .section4__heading {
    font-size: 3svh;
  }
  .section4__subtitle {
    font-size: 2svh;
  }
  .section4__text {
    font-size: 1.5svh;
  }
}
/*------------------------------ 500 ------------------------------*/
@media (max-width: 500px) {
  .section1 {
    padding-top: 4vh;
  }
  .section1__heading {
    font-size: 2vh;
    margin-bottom: 3vh;
  }
  .section1__subtitle {
    font-size: 1.5vh;
    margin-bottom: 3vh;
  }
  .section1__text {
    font-size: 1.2vh;
    margin-bottom: 2.8vh;
  }
  .section1__images {
    margin-bottom: 3vh;
  }
  .section2 {
    padding-top: 4lvh;
  }
  .section2__heading {
    font-size: 2lvh;
    margin-bottom: 3lvh;
  }
  .section2__subtitle {
    font-size: 1.5lvh;
    margin-bottom: 3lvh;
  }
  .section2__text {
    font-size: 1.2lvh;
    margin-bottom: 2.8lvh;
  }
  .section2__images {
    margin-bottom: 3lvh;
  }
  .section3 {
    padding-top: 4dvh;
  }
  .section3__heading {
    font-size: 2dvh;
    margin-bottom: 3dvh;
  }
  .section3__subtitle {
    font-size: 1.5dvh;
    margin-bottom: 3dvh;
  }
  .section3__text {
    font-size: 1.2dvh;
    margin-bottom: 2.8dvh;
  }
  .section3__images {
    margin-bottom: 3dvh;
  }
  .section4 {
    padding-top: 4svh;
  }
  .section4__heading {
    font-size: 2svh;
    margin-bottom: 3svh;
  }
  .section4__subtitle {
    font-size: 1.5svh;
    margin-bottom: 3svh;
  }
  .section4__text {
    font-size: 1.2svh;
    margin-bottom: 2.8svh;
  }
  .section4__images {
    margin-bottom: 3svh;
  }
}